{% extends 'base/base_main.html' %}

{% block title %} Contacto {% endblock title %}</title>

{% block context%}
		<div class="content_contact">
				<section class="form_content">
					<form  class="formulario" method="POST" enctype="multipart">{% csrf_token %}
						<h1 class="form_titulo">Contact</h1>
						<div><div><label for="{{form.cnt_frsname.name}}">{{form.cnt_frsname.label}}</label></div><div>{{form.cnt_frsname}}</div></div>
						<div><div><label for="{{form.cnt_lasname.name}}">{{form.cnt_lasname.label}}</label></div><div>{{form.cnt_lasname}}</div></div>
						<div><div><label for="{{form.cnt_correoe.name}}">{{form.cnt_correoe.label}}</label></div><div>{{form.cnt_correoe}}</div></div>
						<div><div><label for="{{form.cnt_telefon.name}}">{{form.cnt_telefon.label}}</label></div><div>{{form.cnt_telefon}}</div></div>
						<div><div><label for="{{form.cnt_mensaje.name}}">{{form.cnt_mensaje.label}}</label></div><div>{{form.cnt_mensaje}}</div></div>
						<div ><button class="icon-mail form_submit" type="submit">  Send  </button></div>
					</form>
				</section>
		</div>
{% endblock context %}
