{% extends 'base/base_main.html' %}

{% block title %} Home {% endblock title %}</title>

{% block context%}
			<section class="fondo_page">
				<article class="back_slide">
					<div id="back_image">
						<img src="static/images/proyecto.jpg">
					</div>
				</article>
			</section>
{% endblock context %}

{% block js %}
	<script type="text/javascript">

	function empleo(){
		alert("Sobresaturado..!!");
	}
		function propio(){
		alert("No tenemos disponible..!!");
	}
		function finanza(){
		alert("Seguir un curso de finanzas..!!");
	}
	</script>
{% endblock js %}

