{% extends 'base/base_main.html' %} {% load staticfiles %}

{% block title %} Home {% endblock title %}</title>

{% block context%}
            <section class="proyecto_content">
                <article class="proyecto_subcont">
                    <div class="proyecto_columns">
                        <div class="proyecto-titulo"><h1>Exposición del proyecto</h1></div>
                        <div class="align_tex_center">
                            <video controls autoplay name="media" preload="auto" ><source src="{% static 'videos/video02_edit.mp4' %}" type="video/mp4"></video>
                            <div class="align_tex_center"><a class="color_yellow" target="_blank" href="https://www.facebook.com/locutortentacionradio/videos/2085323648407719/">Ver el video completo</a></div>
                            <br><br>
                        </div><hr><br>


                    <div>
                        <table width="98%" border="1">
                            <h1>POR FAVOR, REVICE ESTAS PREGUNTAS Y RESPUESTAS</h1><br>
<tr><td class="proyecto_fq" width="25%"><h2>PREGUNTAS FRECUENTES</h2></td><td class="proyecto_fq" width="70%"><h2>RESPUESTAS</h2></td></tr>
<tr><td class="proyecto_fq" width="25%">Cuál es la Idea:</td><td class="proyecto_fq" width="70%">Crear varios hoteles, y/o, moteles en ecuador.</td></tr>
<tr><td class="proyecto_fq" width="25%">Qué tipo de hoteles:</td><td class="proyecto_fq" width="70%">Hoteles de primera clase de tipo giratorios. (que gire el edificio completo)</td></tr>
<tr><td class="proyecto_fq" width="25%">Donde se construirán estos hoteles:</td><td class="proyecto_fq" width="70%">Se espera poder construir en las ciudades más importantes del ecuador, donde afluya el turismo y los  negocios.</td></tr>
<tr><td class="proyecto_fq" width="25%">Cuál es el camino, para lograr este objetivo:</td><td class="proyecto_fq" width="70%">Crear una empresa legal bajo las leyes ecuatorianas, que permita llevar a cabo esta idea.  (Esta empresa de  la categoría “S.A.” está ya en proceso de creación).</td></tr>
<tr><td class="proyecto_fq" width="25%">Quién garantiza la creación de esta empresa:</td><td class="proyecto_fq" width="70%">El ente que vigila y rige las leyes empresariales es la Superintendencia de Compañías del ecuador.  Pueden verificar en su sitio web: www.supercias.gob.ec</td></tr>
<tr><td class="proyecto_fq" width="25%">Que se necesita:</td><td class="proyecto_fq" width="70%">Como base, un capital inicial de por lo menos 2.5 millones de dólares a un posible tope de 10 millones de dólares.</td></tr>
<tr><td class="proyecto_fq" width="25%">Que se requiere:</td><td class="proyecto_fq" width="70%">Empresas, corporaciones o personas naturales que aporten con el capital para este fin,  y, se conviertan en socios de la compañia.</td></tr>
<tr><td class="proyecto_fq" width="25%">Cuál es la propuesta:</td><td class="proyecto_fq" width="70%">Que Usted como persona natural, sea socio de esta compañía, en calidad de dueño haciendo sus aportes, para el capital.</td></tr>
<tr><td class="proyecto_fq" width="25%">Como poder ser socio:</td><td class="proyecto_fq" width="70%">Usted debe inicialmente inscribirse en la empresa para ser socio, haciendo un depósito inicial de 200 dólares que deben ser depositados o enviado a una cuenta en un banco en el ecuador, posterior a esto hacer llegar una foto del envió o deposito al 914-318-6320 del Señor Luis Salinas (gestor único de este proyecto), para que él le otorgue el formulario o a su vez lo inscriba directamente con sus datos personales.  (El Banco y número de cuenta; se le otorgará una vez usted indique estar interesado llamando o enviando un texto al mismo número arriba indicado o expresando personalmente al señor Salinas).</td></tr>
<tr><td class="proyecto_fq" width="25%">Como adquirir las acciones:</td><td class="proyecto_fq" width="70%">Estas saldrán a la venta muy pronto (fines de mayo o junio a más tardar), cosa que a los inscritos se dará prioridad en hacerles saber, luego se publicará la venta de estas, y, los interesados igual deben pagar la inscripción).</td></tr>
<tr><td class="proyecto_fq" width="25%">Cuánto cuesta una acción.</td><td class="proyecto_fq" width="70%">Cada acción tiene un costo de 1 mil dólares americanos.</td></tr>
<tr><td class="proyecto_fq" width="25%">Cuántas acciones puedo obtener.</td><td class="proyecto_fq" width="70%">Hasta el momento está considerado desde una acción hasta 200 acciones por titular, es posible que esto cambie dependiendo de alguna circunstancia, dado que aun no está establecido como tope en los estatutos.</td></tr>
<tr><td class="proyecto_fq" width="25%">Que obtiene como respaldo que certifique la compra de acciones, y, ser socio de la compañía:</td><td class="proyecto_fq" width="70%">Un título de propiedad o también llamada escritura pública certificado por un notario, exactamente igual como cuando se compra un terreno.  En este título o escritura detallará la cantidad de acciones compradas.</td></tr>
<tr><td class="proyecto_fq" width="25%">Como puedo pagar las acciones:</td><td class="proyecto_fq" width="70%">Igual que los 200 dólares que pago para la inscripción, deberá depositar o enviar a la cuenta de la compañía el equivalente a las acciones a comprar sin recargos ni descuentos de ningún tipo. (Por ejemplo: si decide comprar 12 acciones, debe depositar o hacer un envio  de 12 mil dólares.</td></tr>
<tr><td class="proyecto_fq" width="25%" rowspan="6">Cuáles son los requisitos para ser socios: </td>
    <td class="proyecto_fq" width="70%">a) Inscribirse en la compañía (pedir núm. de cta. depositar o enviar el pago $200).</td></tr>
    <td class="proyecto_fq" width="70%">b) Llenar el formulario con sus datos.</td></tr>
    <td class="proyecto_fq" width="70%">c) Indicar quien le representará en ecuador (Debe enviarle un poder).</td></tr>
    <td class="proyecto_fq" width="70%">e) 2 Copias de su cedula de identidad o pasaporte (ningún otro documento).</td></tr>
    <td class="proyecto_fq" width="70%">f) Firmar el formulario igual que en la cedula o pasaporte.</td></tr>
    <td class="proyecto_fq" width="70%">g) Indicar más o menos (no exacto) cuántas acciones le interesa.</td></tr>
<tr><td class="proyecto_fq" width="25%">Cuál es el procedimiento para ser socio:</td><td class="proyecto_fq" width="70%">El procedimiento es que si al momento de obtener la escritura Usted no puede estar en ecuador,  lugar de la transacción, debe mandar un poder para que alguien lo represente en la transacción, mas no como titular de la acción, esa acción o escritura  saldrá a nombre de la persona que está pagando o sea a su nombre, también podría ser a nombre de quien Usted; decida.</td></tr>
<tr><td class="proyecto_fq" width="25%">Como debe ser el poder:</td><td class="proyecto_fq" width="70%">El poder solo debe autorizar para que lo represente en la compañía, no debe ser un poder general que tome decisiones con las acciones,  solo debe ser para representarlo nada mas, a no ser que Usted decida  de otra manera.</td></tr>
<tr><td class="proyecto_fq" width="25%">Qué pasará con los 200 dólares de la inscripción:</td><td class="proyecto_fq" width="70%">Si Usted, decide ser socio, lo que se está haciendo es compartirle los gastos de la creación de la empresa de la cual será dueño Usted también, sin embargo si por alguna razón no se llegara a concretar la sociedad, los 200 dólares le serán devueltos y el costo de la creación de la compañía asumirá solo el señor Luis Salinas, con el ánimo de que nadie pierda ni un solo dólar por este proyecto.</td></tr>
<tr><td class="proyecto_fq" width="25%">Qué riesgo corre mi capital aportado</td><td class="proyecto_fq" width="70%">En realidad no habrá riesgo eminente, dado que se compraran terrenos y se construirá, eso implica que estará bien invertido. Será la voluntad de Dios que suceda otra cosa, pero aun así estamos planificando asegurar, además que seamos nosotros mismos los que creemos la empresa de seguros, así cualquier utilidad por ese lado también seria parte de nuestras ganancias.</td></tr>
<tr><td class="proyecto_fq" width="25%">Que beneficio tengo por ser socio de la empresa:</td><td class="proyecto_fq" width="70%">Inicialmente su acción costara mil dólares, al comprar el terreno y construir el hotel, como cualquier activo no depreciable, adquirirá plus valía y sus acciones subirán 3,  4, o quizás más veces su valor.<br><br>
    Por otro lado y se presume a partir del 3er, año, comenzaría a cobrar las utilidades de lo que produzca los hoteles. Estas utilidades decide la asamblea de socio, cada que tiempo se debe cobrar. (Un ejemplo: siendo muy prudentes asumamos una utilidad del 30% anual, cada acción tendría esa utilidad, o sea si compro 20 acciones tendrá una utilidad de 6 mil dólares, obviamente ese porcentaje mejorara notablemente en los siguientes años por el resto de la vida.</td></tr>
<tr><td class="proyecto_fq" width="25%">Que tiene que ver este proyecto con herbalife, amway, coins, el famoso café o las pirámides.</td><td class="proyecto_fq" width="70%">Este proyecto no tiene nada que ver ni es parecido a estos sistemas, aquí no tiene que conseguir socios para ganar primas o trabajar vendiendo nada, respetamos mucho cualquier otro sistema de ventas o inversión, pero este es una propuesta única, diferente, seria, creando la oportunidad, para que Usted sea un empresario en calidad de socio-dueño; donde una vez aportado el capital solo debe esperar a cada año o cada 6 meses dependiendo de que tiempo decidió la asamblea de todos los socios incluyendo usted, se cobrarían las utilidades, aclarando que estas comenzarían a partir del 3er. Año más o menos dado que el los primeros dos años se invertira en construcción, marketing, etc.</td></tr>
<tr><td class="proyecto_fq" width="25%">Quiero dejar mi pregunta o comentario </td><td class="proyecto_fq" width="70%">Gracias por dejarnos ver su interes, por favor pulse <a class="font_large color_yellow" href="{% url 'inicio:contacto' %}"> Aquí </a> </td></tr>
<tr><td class="proyecto_fq" width="25%">Como hago para pedir una exposición en donde yo vivo ?</td><td class="proyecto_fq" width="70%">Para poder dar una exposición en su lugar de residencia, por favor entre <a class="font_large color_yellow" href="{% url 'inicio:requiere' %}"> Solicito una expocición </a>, o, llame al 914-318-6320. Es importante que forme un grupito de por lo menos 5 personas interesadas en la exposición </td></tr>
<tr><td class="proyecto_fq" width="25%">Quisiera registrarme, como hago? </td><td class="proyecto_fq" width="70%">Para registrarse, por favor pulse en <a class="font_large color_yellow" href="{% url 'inicio:registro' %}"> Registrarme </a>, eso no  le compromete a que obligatoriamente tiene que asociarse a la companía. </td></tr>
                        </table>
                    </dir>

                        <div class="proyecto-titulo"><h1>Calendario de exposiciones del proyecto</h1></div>
                        <table border="1" class="proyecto_colitms flex_content" >
                            <thead>
                                <tr>
                                    <th class="color_780827">Fecha del evento</th>
                                    <th class="color_780827">Hora del evento</th>
                                    <th class="color_780827"> Ciudad </th>
                                    <th class="color_780827">Dirección</th>
                                    <th class="color_780827">Nombre del local</th>
                                    <th class="color_780827">Asistieron</th>
                                    <th class="color_780827">Status</th>
                                </tr>
                            </thead>
                            <tbody border="0">
                                {% if object_list %}
                                {% for var_evnfield in object_list %}
                                <tr>
                                    <td class="columns_tab">{{ var_evnfield.evn_fechaev }} </td>
                                    <td class="columns_tab">{{ var_evnfield.evn_horaevn }} </td>
                                    <td class="columns_tab">{{ var_evnfield.evn_zipcode }} </td>
                                    <td class="columns_tab">{{ var_evnfield.evn_direcci }} </td>
                                    <td class="columns_tab">{{ var_evnfield.evn_localid }} </td>
                                    <td class="columns_tab">{{ var_evnfield.evn_asisten }} </td>
                                    <td class="columns_tab">{{ var_evnfield.evn_pendien }} </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <h4> No hay registros en Eventos </h4>
                                {% endif %}
                            </tbody>
                        </table>
                        <div class="flex_cloumn">
                            <div><p> Es importante que verifique la propuesta. Dele un click en la imagen y accese a la información expuesta.</p></div>
                            <div><a class="align_tex_center" href="{% url 'inicio:propuesta' %}"><img src="static/images/enter.png"></a></div>
                        </div>
                        <div class="proyecto_colitms">
                            <ul class="pager_botons">
                                <li>
                                    {% if page_obj.has_previous %}
                                    <a class="icon-left-open pager_prev" href="?page={{page_obj.previous_page_number}}">Previous</a>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if page_obj.has_next %}
                                    <a class="pager_next" href="?page={{page_obj.next_page_number}}">Next <span class="icon-right-open"></span></a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="proyecto_columns flex_content">
                        <div class"proyecto_colitms"><img width="100%" src="static/images/atencion.png"></div>
                    </div>
                    <div class="proyecto_columns flex_display flex_flow">
                        <div><img width="85%" src="static/images/importante.png"></div><div><a widrh="15%" href="{% url 'visitantes:sol_new' %}"><img src="static/images/pulse.png"></a></div>
                    </div>
                    <div class="proyecto_columns  flex_content">
                        <div class"proyecto_colitms"><a href="{% url 'eventos:ast_new' %}"><img src="static/images/opcional.jpg"></a></div>
                    </div>
                    <div class="proyecto_columns">
                        <div class"proyecto_colitms"><img src="static/images/cuenta.jpg"></div>
                    </div>
                </article>
            </section>
{% endblock context %}

{% block js %}
    <script type="text/javascript">

    function empleo(){
        alert("Sobresaturado..!!");
    }
        function propio(){
        alert("No tenemos disponible..!!");
    }
        function finanza(){
        alert("Seguir un curso de finanzas..!!");
    }
    </script>
{% endblock js %}
