{% extends 'base/base_eventos.html' %}

{% block title %} Graba  Visitante {% endblock title %}</title>

			{% block context%}
			<div class="crea_content">
				<h3 class="crea_proceso">Visitantes:  Visitante</h3>
				<a class="icon-reply crea_boton" href="{% url 'visitantes:evn_panel' %}">Volver</a>

			</div>
			<div>
				{% for message in messages %}
					<strong>Mensaje:</strong> {{ message }}
				{% endfor %}
				<form method="POST" enctype="multipart">{% csrf_token %}
					<div class="form_content">
						<div class="form_titulo"><h1>Graba  Visitante</h1></div>
						<div class="form_esc">
							<a class="icon-cancel" href="{% url 'visitantes:evn_panel' %}"></a>
						</div>
						{% if form.error %}
							<div class="form_errors" role="alert">
								{{ form.error }}
							</div>
						{% endif %}

						{% if forms.error %}
							<div class="form_errors" role="alert">
								{{ form.error }}
							</div>
						{% endif %}
						{% comment %}
							#TODO: # Verificacion de errores
						{% endcomment %}
						{% for field in form %}
							{% for error in field.errors %}
								<strong>{{ field.label }}</strong>: {{ error }}<br>
							{% endfor %}
						{% endfor %}
						{% for error in form.non_field_errors %}
							<strong>{{ error }}</strong>
						{% endfor %}
						<div class="form_row"><div class="form_label"><label for="{{form.asp_frsname.name}}">{{form.asp_frsname.label}}</label></div><div>{{form.evn_fechaev}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.asp_midname.name}}">{{form.asp_midname.label}}</label></div><div>{{form.evn_zipcode}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.asp_secmanp.name}}">{{form.asp_secmanp.label}}</label></div><div>{{form.evn_direcci}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.asp_secmanm.name}}">{{form.asp_secmanm.label}}</label></div><div>{{form.evn_localid}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.asp_fechnac.name}}">{{form.asp_fechnac.label}}</label></div><div>{{form.evn_asisten}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.asp_direcci.name}}">{{form.asp_direcci.label}}</label></div><div>{{form.evn_pendien}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.asp_zipcodg.name}}">{{form.asp_zipcodg.label}}</label></div><div>{{form.evn_fechaev}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.asp_telefon.name}}">{{form.asp_telefon.label}}</label></div><div>{{form.evn_zipcode}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.asp_celular.name}}">{{form.asp_celular.label}}</label></div><div>{{form.evn_direcci}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.asp_correoe.name}}">{{form.asp_correoe.label}}</label></div><div>{{form.evn_localid}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.asp_imgclte.name}}">{{form.asp_imgclte.label}}</label></div><div>{{form.evn_asisten}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.asp_rgunico.name}}">{{form.asp_rgunico.label}}</label></div><div>{{form.evn_pendien}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.asp_categor.name}}">{{form.asp_categor.label}}</label></div><div>{{form.evn_fechaev}}</div></div>
						<br><br>
						<div ><button class="icon-database form_submit" type="submit">  Guardar  </button></div>
						<br>
					</div>
				</form>
			</div>
		{% endblock context%}
